{% extends 'main.html' %}

{% block content %}
{% load static %}
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=index.html>
        <div class=akea-page-wrapper id=akea-page-wrapper>
            <div class=gdlr-core-page-builder-body>
                <div class="gdlr-core-pbf-wrapper " id="div_e6a9_0">
                    <div class=gdlr-core-pbf-background-wrap>
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_e6a9_1" data-parallax-speed=0.3></div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation=fadeIn data-gdlr-animation-duration=600ms data-gdlr-animation-offset=0.8>
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first" data-skin=Dark>
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class=gdlr-core-pbf-element>
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                <div class="gdlr-core-title-item-title-wrap ">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_e6a9_0">Meet Our Writers<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                            </div>
                                        </div>
                                        <div class=gdlr-core-pbf-element>
                                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                                <div class=gdlr-core-divider-container id="div_e6a9_2">
                                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_e6a9_3"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column gdlr-core-column-30" data-skin=Dark>
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class=gdlr-core-pbf-element>
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" id="div_e6a9_4">
                                                <div class=gdlr-core-text-box-item-content id="div_e6a9_5">
                                                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit avmet risus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_e6a9_6">
                    <div class=gdlr-core-pbf-background-wrap></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" id="div_e6a9_7">
                            <div class=gdlr-core-pbf-element>
                                <div class="gdlr-core-author-item gdlr-core-item-pdb gdlr-core-item-mgb clearfix" id="div_e6a9_8">
                                    <div class="gdlr-core-author-list-column gdlr-core-item-pdlr  gdlr-core-column-15 gdlr-core-column-first">
                                        <div class=gdlr-core-author-list>
                                            <div class="gdlr-core-author-list-thumbnail gdlr-core-media-image"><img src={{authors0.profile.url}} alt width=700 height=781 title=author-1></div>
                                            <div class=gdlr-core-author-list-content-wrap>
                                                <h3 class="gdlr-core-author-list-title">{{authors0.name}}</h3>
                                                <div class=gdlr-core-author-list-position>Senior Writer</div>
                                                <div class=gdlr-core-author-list-social>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_e6a9_9"><a href=#url target=_blank class=gdlr-core-social-network-icon title=facebook id="a_e6a9_0"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_e6a9_1"><i class="fa fa-pinterest-p" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=twitter id="a_e6a9_2"><i class="fa fa-twitter" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=instagram id="a_e6a9_3"><i class="fa fa-instagram" ></i></a></div>
                                                </div>
                                                <div class=gdlr-core-author-list-url><a href="{% url 'author_home' %}?q={{authors0.name}}">Read Articles</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-author-list-column gdlr-core-item-pdlr  gdlr-core-column-15">
                                        <div class=gdlr-core-author-list>
                                            <div class="gdlr-core-author-list-thumbnail gdlr-core-media-image"><img src={{authors1.profile.url}} alt width=700 height=781 title=author-2></div>
                                            <div class=gdlr-core-author-list-content-wrap>
                                                <h3 class="gdlr-core-author-list-title">{{authors1.name}}</h3>
                                                <div class=gdlr-core-author-list-position>Senior Editor</div>
                                                <div class=gdlr-core-author-list-social>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_e6a9_10"><a href=#url target=_blank class=gdlr-core-social-network-icon title=facebook id="a_e6a9_4"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_e6a9_5"><i class="fa fa-pinterest-p" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=twitter id="a_e6a9_6"><i class="fa fa-twitter" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=instagram id="a_e6a9_7"><i class="fa fa-instagram" ></i></a></div>
                                                </div>
                                                <div class=gdlr-core-author-list-url><a href="{% url 'author_home' %}?q={{authors1.name}}">Read Articles</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-author-list-column gdlr-core-item-pdlr  gdlr-core-column-15">
                                        <div class=gdlr-core-author-list>
                                            <div class="gdlr-core-author-list-thumbnail gdlr-core-media-image"><img src={{authors2.profile.url}} alt width=700 height=781 title=author-3></div>
                                            <div class=gdlr-core-author-list-content-wrap>
                                                <h3 class="gdlr-core-author-list-title">{{authors2.name}}</h3>
                                                <div class=gdlr-core-author-list-position>Senior Writter</div>
                                                <div class=gdlr-core-author-list-social>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_e6a9_11"><a href=#url target=_blank class=gdlr-core-social-network-icon title=facebook id="a_e6a9_8"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_e6a9_9"><i class="fa fa-pinterest-p" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=twitter id="a_e6a9_10"><i class="fa fa-twitter" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=instagram id="a_e6a9_11"><i class="fa fa-instagram" ></i></a></div>
                                                </div>
                                                <div class=gdlr-core-author-list-url><a href="{% url 'author_home' %}?q={{authors2.name}}">Read Articles</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-author-list-column gdlr-core-item-pdlr  gdlr-core-column-15">
                                        <div class=gdlr-core-author-list>
                                            <div class="gdlr-core-author-list-thumbnail gdlr-core-media-image"><img src={{authors3.profile.url}} alt width=700 height=781 title=author-4></div>
                                            <div class=gdlr-core-author-list-content-wrap>
                                                <h3 class="gdlr-core-author-list-title">{{authors3.name}}</h3>
                                                <div class=gdlr-core-author-list-position>Junior Writter</div>
                                                <div class=gdlr-core-author-list-social>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_e6a9_12"><a href=#url target=_blank class=gdlr-core-social-network-icon title=facebook id="a_e6a9_12"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_e6a9_13"><i class="fa fa-pinterest-p" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=twitter id="a_e6a9_14"><i class="fa fa-twitter" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=instagram id="a_e6a9_15"><i class="fa fa-instagram" ></i></a></div>
                                                </div>
                                                <div class=gdlr-core-author-list-url><a href="{% url 'author_home' %}?q={{authors3.name}}">Read Articles</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
</div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
<div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>
{% include 'stories.html' %}
</body>

{% endblock %}