{% extends 'main.html' %}

{% block content %}
{% load static %}
    {% comment %} <bsssody class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url=index.html> {% endcomment %}
                
                <div class=akea-page-wrapper id=akea-page-wrapper style="background-color: rgb(232, 231, 231); width:100%;" >
                    <div class=gdlr-core-page-builder-body>
                        <div class="gdlr-core-pbf-wrapper " id="div_2207_0" id=gdlr-core-wrapper-1>
                            <div class=gdlr-core-pbf-background-wrap></div>
                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    <div class=gdlr-core-pbf-element style="width: 100%;">
                                        <div class="gdlr-core-post-slider-item gdlr-core-item-pdb gdlr-core-item-pdlr clearfix " id="div_2207_1" style="width: 100%;">
                                            <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " style="width: 100%;" data-type=slider data-effect=default data-nav=navigation data-disable-autoslide=1>
                                                <ul class=slides>
                                                    <li style="width: 100%;">
                                                        <div class=gdlr-core-post-slider-slide style="width: 100%;">
                                                            <div class="gdlr-core-post-slider-image gdlr-core-media-image" style="width: 100%;">
                                                                <a href=#><img src={% static 'upload/bg1.png' %} alt style="width: 100%; height:635;" height=635 title=pexels-photo-736166><span class=gdlr-core-post-slider-overlay id=span_2207_0></span></a>
                                                            </div>
                                                            <div class="gdlr-core-post-slider-caption gdlr-core-center-align">
                                                                <h3 class="gdlr-core-post-slider-title" id="h3_2207_0"><a href=# >The Wolves In Trading Forex Blog</a></h3>
                                                                <div class=gdlr-core-post-slider-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class=gdlr-core-blog-info-sep >/</span><a href=#>Since November 1, 2022</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class=gdlr-core-blog-info-sep >/</span><a href=# title="Posts by Paul Newman" rel=author>Author : Levi Haruna</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-sidebar-wrapper ">
                            <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                                <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" id="div_2207_2">
                                    <div class=gdlr-core-pbf-sidebar-content-inner data-skin="Blog List">
                                        
                                        <div class=gdlr-core-pbf-element>
                                            <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                                                <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout=fitrows>
                                                    {% for char in post %}
                                                    <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                        <div class="gdlr-core-blog-thumbnail-wrap clearfix">
                                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">          
                                                                <a href="{% url 'single' char.id %}"><img src="{{char.image.url}}" alt width=1000 height=486 title=pexels-photo-871053></a>                                                        
                                                            </div><a href=# class=zilla-likes id=zilla-likes-6613 title="Like this"><span class=zilla-likes-count>{{char.comment_set.all.count}}</span> <span class=zilla-likes-postfix></span></a></div>
                                                        <div class=gdlr-core-blog-full-content-wrap>
                                                            <div class="gdlr-core-blog-full-head clearfix">
                                                                <div class=gdlr-core-blog-full-head-right>
                                                                    <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_2207_3">                                                               
                                                                        <a href="{% url 'single' char.id %}" >{{char.title}}</a> 
                                                                    </h3>
                                                                    <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                        <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                                            <img alt src={{char.author.profile.url}}  class='avatar avatar-50 photo' height=50 width=50>
                                                                                <a href=# title="Posts by Jane Smith" rel=author>{{char.author}}</a>
                                                                            </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                                <a href="{% url 'single' char.id %}">{{char.created | timesince }} ago </a>
                                                                            </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category">
                                                                                <a href="{% url 'home' %}?q={{char.category.name}}" rel=tag>{{char.category}}</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class=gdlr-core-blog-content>{{char.body|truncatewords_html:40}}</div>
                                                                <div class="gdlr-core-social-share-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-social-share-left-text gdlr-core-style-plain" id="div_2207_3">
                                                                    <span class=gdlr-core-social-share-wrap>
                                                                        <a class=gdlr-core-social-share-facebook href="#" target=_blank  id="a_2207_0"  >
                                                                            <i class="fa fa-facebook" ></i>
                                                                        </a>
                                                                        <a class=gdlr-core-social-share-google-plus href="#" target=_blank  id="a_2207_1"  >
                                                                            <i class="fa fa-google-plus" ></i>
                                                                        </a>
                                                                        <a class=gdlr-core-social-share-pinterest href="#" target=_blank  id="a_2207_2"  >
                                                                            <i class="fa fa-pinterest-p" ></i>
                                                                        </a>
                                                                        <a class=gdlr-core-social-share-stumbleupon href="#" target=_blank  id="a_2207_3"  >
                                                                            <i class="fa fa-stumbleupon" ></i>
                                                                        </a>
                                                                        <a class=gdlr-core-social-share-twitter href="#" target=_blank   id="a_2207_4"  >
                                                                            <i class="fa fa-twitter" ></i>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>
                                                <div class="gdlr-core-pagination  gdlr-core-style-circle gdlr-core-center-align gdlr-core-item-pdlr"><a class=page-numbers href="{% url 'home' %}">1</a> <a class=page-numbers href="{% url 'next' %}">2</a> <a class=page-numbers href="{% url 'next2' %}">3</a>
                                                    <a class="next page-numbers" href="{% url 'next_last' %}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  akea-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" data-skin="Blog List" id="div_2207_9">
                                    <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                        <div id=text-4 class="widget widget_text akea-widget">
                                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>About Us</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                            <div class=textwidget>
                                                <p><img class="alignnone size-full wp-image-6650"  src={% static 'upload/logo.png' %} alt width=120>
                                                    <br> The Wolves in Trading Forex Blog , is a place for all traders to get recent gist and forex news updates along side upcomibg activities</p> <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-transparent gdlr-core-button-with-border" href=# target=_blank id="a_2207_10" rel="noopener noreferrer"><span class=gdlr-core-content >more about us</span><i class="gdlr-core-pos-right arrow_right"  ></i></a></div>
                                        </div>
                                        <div id=text-7 class="widget widget_text akea-widget">
                                            <div class=textwidget>
                                                <div class="gdlr-core-widget-box-shortcode  gdlr-core-center-align" id="div_2207_10">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top" id="div_2207_11">
                                                        <div class="gdlr-core-title-item-title-wrap ">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_9">Follow Us<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                                    </div>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_12"><a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_11" rel="noopener noreferrer"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_12" rel="noopener noreferrer"><i class="fa fa-pinterest-p" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_13" rel="noopener noreferrer"><i class="fa fa-skype" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_14" rel="noopener noreferrer"><i class="fa fa-twitter" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_15" rel="noopener noreferrer"><i class="fa fa-instagram" ></i></a></div>
                                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_3"></span>
                                                    <br>
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top" id="div_2207_13">
                                                        <div class="gdlr-core-title-item-title-wrap ">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_10">Newsletter<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                                    </div> Fill your email below to subscribe to my newsletter<span class=gdlr-core-space-shortcode id="span_2207_4"></span>
                                                    <br>
                                                    <div class="tnp tnp-subscription-minimal ">
                                                        <form action="" method="POST">
                                                            {% csrf_token %}
                                                            <input class=tnp-email type=email required name='email' value placeholder=Email>
                                                            <input class=tnp-submit type=submit value=Subscribe>
                                                        </form>
                                                    </div> <span class=gdlr-core-space-shortcode id="span_2207_5"></span></div>
                                            </div>
                                        </div>
                                        <div id=gdlr-core-recent-post-widget-2 class="widget widget_gdlr-core-recent-post-widget akea-widget">
                                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Popular Post</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                            {% for char in post %}
                                            <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
                                                <div class="gdlr-core-recent-post-widget clearfix">
                                                    <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src={{char.image.url}} alt width=150 height=150 title=qingbao-meng-330658-unsplash></div>
                                                    <div class=gdlr-core-recent-post-widget-content>
                                                        <div class=gdlr-core-recent-post-widget-title><a href=#>{{char.title}}</a></div>
                                                        <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='upload/avatar.jpg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by Paul Newman" rel=author>{{char.author}} </a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>{{char.created | timesince }}</a></span></div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div id=text-5 class="widget widget_text akea-widget">
                                            <div class=textwidget>
                                                <p>
                                                    <a href=#><img src=upload/banner-600.jpg alt width=300 height=600 class="alignnone size-full wp-image-6652"></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div id=gdlr-core-category-background-widget-2 class="widget widget_gdlr-core-category-background-widget akea-widget">
                                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Category</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                            <ul class=gdlr-core-category-background-widget>
                                                {% for char in category %}
                                                <li class=gdlr-core-with-bg id="li_2207_0"><a href="{% url 'home' %}?q={{char.name}}"><span class=gdlr-core-category-background-widget-content ><span class=gdlr-core-category-background-widget-title >{{char.name}}</span><span class=gdlr-core-category-background-widget-count >{{char.post_set.all.count}}</span></span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        
                                        <div id=tag_cloud-2 class="widget widget_tag_cloud akea-widget">
                                            <h3 class="akea-widget-title">
                                                <span class=akea-widget-head-text>Tags</span>
                                                <span class=akea-widget-head-divider></span>
                                            </h3>
                                            <span class=clear></span>
                                            <div class=tagcloud>
                                                <a href="{% url 'home' %}" ?qclass="tag-cloud-link tag-link-117 tag-link-position-1" id="a_2207_16" aria-label="Beach (2 items)">All</a>
                                                {% for char in category %}
                                                <a href="{% url 'home' %}?q={{char.name}}" class="tag-cloud-link tag-link-117 tag-link-position-1" id="a_2207_16" aria-label="Beach (2 items)">{{char.name}}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div id=text-6 class="widget widget_text akea-widget">
                                            <div class=textwidget>
                                                <p>
                                                    <a href=#><img class="alignnone size-full wp-image-6651" src=upload/banner-250.jpg alt width=300 height=250></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div id=gdlr-core-recent-post-widget-3 class="widget widget_gdlr-core-recent-post-widget akea-widget">
                                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Recent Post</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                            <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-full">
                                                {% for char in recent_post %}
                                                <div class="gdlr-core-recent-post-widget clearfix">
                                                    <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image">
                                                        <a class="gdlr-core-lightgallery gdlr-core-js " href=upload/post-vr.jpg><img src="{{char.image.url}} "alt width=1000 height=486 title=post-vr></a><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category"><a href=# rel=tag>Trending</a></span></div>
                                                    <div class=gdlr-core-recent-post-widget-content>
                                                        <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font"><a href=#>{{char.title}}</a></div>
                                                        <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='upload/avatar.jpg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by Jane Smith" rel=author>{{char.author}}</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>{{char.created | timesince }} Ago</a></span></div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div id=gdlr-core-instagram-widget-2 class="widget widget_gdlr-core-instagram-widget akea-widget">
                                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Instagram</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                                            <div class="gdlr-core-instagram-widget clearfix">
                                                <div class=" gdlr-core-column-20 gdlr-core-column-first gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/43984881_188819121994766_3216343442474950648_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-1><img src="upload/43984881_188819121994766_3216343442474950648_n7d5a.jpg" width=150 height=150 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-20 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/45313783_2158345917812845_5821103427645807423_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-1><img src="upload/45313783_2158345917812845_5821103427645807423_n7d5a.jpg" width=150 height=150 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-20 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/43914986_550843855339634_9131648220594836021_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-1><img src="upload/43914986_550843855339634_9131648220594836021_n7d5a.jpg" width=150 height=150 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-20 gdlr-core-column-first gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/44371528_263042657731432_6452096443180721983_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-1><img src="upload/44371528_263042657731432_6452096443180721983_n7d5a.jpg" width=150 height=150 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-20 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/44292623_399451020592905_6536115609442328805_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-1><img src="upload/44292623_399451020592905_6536115609442328805_n7d5a.jpg" width=150 height=150 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-20 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/44898222_267175490542576_6183516087002698981_n7d5a.jpg" data-sub-html="So blue" data-lightbox-group=gdlr-core-img-group-1><img src="upload/44898222_267175490542576_6183516087002698981_n7d5a.jpg" width=150 height=150 alt="So blue"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper " id="div_2207_14">
                            <div class=gdlr-core-pbf-background-wrap></div>
                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    <div class=gdlr-core-pbf-element>
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_2207_15">
                                            <div class="gdlr-core-title-item-title-wrap ">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_11">Our Instagram<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                        </div>
                                    </div>
                                    <div class=gdlr-core-pbf-element>
                                        <div class="gdlr-core-instagram-item gdlr-core-item-pdb  gdlr-core-item-pdlr">
                                            <div class="gdlr-core-instagram-item-content clearfix">
                                                <div class=" gdlr-core-column-12 gdlr-core-column-first gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/43984881_188819121994766_3216343442474950648_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-2><img src="upload/43984881_188819121994766_3216343442474950648_n7d5a.jpg" width=640 height=640 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-12 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/45313783_2158345917812845_5821103427645807423_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-2><img src="upload/45313783_2158345917812845_5821103427645807423_n7d5a.jpg" width=640 height=640 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-12 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/43914986_550843855339634_9131648220594836021_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-2><img src="upload/43914986_550843855339634_9131648220594836021_n7d5a.jpg" width=640 height=640 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-12 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/44371528_263042657731432_6452096443180721983_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-2><img src="upload/44371528_263042657731432_6452096443180721983_n7d5a.jpg" width=640 height=640 alt></a>
                                                </div>
                                                <div class=" gdlr-core-column-12 gdlr-core-media-image">
                                                    <a class="gdlr-core-lightgallery gdlr-core-js " href="upload/44292623_399451020592905_6536115609442328805_n7d5a.jpg" data-lightbox-group=gdlr-core-img-group-2><img src="upload/44292623_399451020592905_6536115609442328805_n7d5a.jpg" width=640 height=640 alt></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
        <div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>
    </body>

{% endblock %}


