<footer>
    <div class="akea-footer-wrapper ">
        <div class="akea-footer-container akea-container clearfix">
            <div class="akea-footer-column akea-item-pdlr akea-column-20">
                <div id=text-2 class="widget widget_text akea-widget">
                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Wolves In Trading Forex Blog</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                    <div class=textwidget>
                        <p>23 King Street, 5th Avenue, New York
                            <br> <span class=gdlr-core-space-shortcode id="span_2207_6"></span>
                            <br> +1-2355-3345-5
                            <br> <span class=gdlr-core-space-shortcode id="span_2207_7"></span>
                            <br> <a id="a_2207_30" href=mailto:call@akeablog.co>call@akeablog.co</a></p>
                    </div>
                </div>
            </div>
            <div class="akea-footer-column akea-item-pdlr akea-column-20">
                <div id=gdlr-core-custom-menu-widget-2 class="widget widget_gdlr-core-custom-menu-widget akea-widget">
                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Category</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                    <div class=menu-category-container>
                        <ul id=menu-category class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                            {% for char in category %}
                            <li class="menu-item"><a href="{% url 'home' %}?q={{char.name}}">{{char.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="akea-footer-column akea-item-pdlr akea-column-20">
                <div id=text-3 class="widget widget_text akea-widget">
                    <h3 class="akea-widget-title"><span class=akea-widget-head-text>Follow Us</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                    
                    <div class=textwidget>
                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_16">
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_31" rel="noopener noreferrer">
                                <i class="fa fa-facebook" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_32" rel="noopener noreferrer">
                                <i class="fa fa-pinterest-p" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_33" rel="noopener noreferrer">
                                <i class="fa fa-skype" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_34" rel="noopener noreferrer">
                                <i class="fa fa-twitter" ></i>
                            </a>
                            <a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer">
                                <i class="fa fa-instagram" ></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=akea-copyright-wrapper>
        <div class="akea-copyright-container akea-container clearfix">
            <div class="akea-copyright-left akea-item-pdlr">Copyright 2022 Wolves in Trading Blog, All Right Reserved</div></br>
            <div class="akea-copyright-left akea-item-pdlr">Developed by AaronTech</div>
            <div class="akea-copyright-right akea-item-pdlr">
                <a href={% url 'home' %}>Home</a>
                <a href=about-us.html >About</a>
                <a href=# >Updates</a>
                <a href=# >Advertising</a>
                <a href=contact.html >Contact</a>
            </div>
        </div>
    </div>
</footer>